/*

  Comments
  +

*/

.wp-block-post-comments{
  .commentlist{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .form-submit{
    margin-bottom: 0;
  }

}

.wp-block-comment-template{
  ol{
    padding-inline-start: var(--wp--preset--spacing--medium) !important;
  }
  > li{
    margin-left: 0;
  }
  
}

.wp-block-comment-template + .wp-block-post-comments-form {
	margin-top: var(--wp--preset--spacing--large);
}

.comment-form-cookies-consent{
  font-size: var(--wp-preset--font-size--small);
}

.comment{
  .avatar{
    margin-top: 8px;
  }
}

.wp-block-comments{
  .wp-block-group:empty{
    display: none;
  }

  .wp-block-group:empty + .comment-respond{
    margin-top: 0;
  }
}

.wp-block-comments-pagination-numbers > *{
  margin: 0 4px;
}

// Comment - author avatar
.wp-block-post-comments .comment-author .avatar{
  height: 40px;
  width: 40px;
  margin-top: 2px;
}